---
layout: default
title: Home
---

{% for post in paginator.posts %}
<div class="posts">
  <h1>
    <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
  </h1>
  {% if post.image.teaser %}
    <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/assets/img/{{ post.image.teaser }}"></a>
  {% endif %}
  <p>
    {{ post.content | strip_html | truncate: 150 }} <a href="{{ site.github.url }}{{ post.url }}">Entrada completa</a>
    <span class="post-date" style="margin-top:3px"><i class="fa fa-calendar" aria-hidden="true"></i>  {% assign m = post.date | date: "%-m" %}
{{ post.date | date: "%-d" }}
de {% case m %}
  {% when '1' %}enero
  {% when '2' %}febrero
  {% when '3' %}marzo
  {% when '4' %}abril
  {% when '5' %}mayo
  {% when '6' %}junio
  {% when '7' %}julio
  {% when '8' %}agosto
  {% when '9' %}septiembre
  {% when '10' %}octubre
  {% when '11' %}noviembre
  {% when '12' %}diciembre
{% endcase %}
de {{ post.date | date: "%Y" }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
  </p>
</div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active" href="{{ site.github.url }}{{ paginator.next_page_path }}" class="next">Anterior</a>
  {% else %}
    <span class="pagination-button">Anterior</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">Más reciente</a>
    {% else %}
      <span class="pagination-button">Más reciente</span>
  {% endif %}

</div>
